<%- include("partials/header.ejs") %>
    <div class="about container">
        <div class="about-content">
          
            <h2>
                SFI Aliah University Local Committee:
            </h2>
            <h3>
                President: <%= about.lcp %><br>
                Secretary: <%= about.lcs %>
            </h3>

        </div>
        <div class="about-content">
            <h2>
                SFI Technology & Management Unit:
                <h3>
                    President: <%= about.tmp %>
            </h2><br>
            <h3>
                Secretary: <%= about.tms %></h3>

        </div>
        <div class="about-content">
            <h2>
                SFI Aliah University Science unit:
            </h2>
            <h3>
                President: <%= about.sup %>
                <br>
                Secratary: <%= about.sus %>
            </h3>

        </div>
        <div class="about-content" style="margin: 100px 0;">
            <h3>
                Welcome to my corner of the web! I'm Subhadip Chakraborty, the creative mind behind this website. <br> 
                Let's craft digital experiences that leave a lasting impression. <br> 
                Get in touch with me: <br> 
                Email: <a href="mailto:subhadip240420@gmail.com">subhadip240420@gmail.com</a>  <br>
                Website: <a href="https://subhadip023.github.io/" target="_blank">https://subhadip023.github.io/</a> <br>
                Let's collaborate and turn your ideas into reality! <br>
                Whether you're a fellow developer, a potential client, or just passing by, I'd love to hear from you. <br>
                Drop me a line, and let's create something amazing together!
            </h3>
        </div>
        
    </div>
    
    <%- include("partials/footer.ejs") %>