<!-- user-data.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin </title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <header>
        <h1>
            🚩 Wellcome COMRED 🚩
        </h1>
        <nav>
            <ul>
                <a href="#Home">
                    <li>Home</li>
                </a>
                <a href="#User">
                    <li>User</li>
                </a>
                <a href="#Notifications">
                    <li>Notifications</li>
                </a>
                <a href="#Event">
                    <li>Event</li>
                </a>
                <a href="#Gallery">
                    <li>Gallery</li>
                </a>
                <a href="#about">
                    <li>About</li>
                </a>
            </ul>
        </nav>
    </header>
    <section id="Home" class="container">
        <div >
            <a href="/admin/add-home-data" class="add-btn m-auto">Add Data</a>
        </div>
        <h1>Home-Data</h1>
        <form action="/admin/home-data/update-positions" method="post">
            <table>
                <thead>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Content</th>
                    <th>Name</th>
                    <!-- <th>Position</th> -->
                    <th>Edit</th>
                </thead>
                <tbody>
                    <% home.forEach((element, index) => { %>
                        <tr>
                            <td>
                                <%= element.id %>
                            </td>
                            <td>
                                <img src="<%= element.image %>" alt="">
                            </td>
                            <td>
                                <%= element.content %>
                            </td>
                            <td>
                                <%= element.name %>
                            </td>
                            <!-- <td>
                                <select name="position_<%= element.id %>">
                                    <% for (let i = 0; i < home.length; i++) { %>
                                        <option value="<%= i %>" <%= element.position === i ? 'selected' : '' %>><%= i %></option>
                                    <% } %>
                                </select>
                            </td> -->
                            <td>
                                <a href="/admin/home-data/update/<%= element.id %>"><button
                                    class="update-btn">Update</button></a>
                                <form action="/admin/home-data/delete" method="post">
                                    <input type="hidden" name="id" value="<%= element.id %>" />
                                    <button type="submit" class="delete-btn">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <!-- <button type="submit" class="update-btn">Update Positions</button> -->
        </form>
    </section>
    
    
    <section id="User" class="container">
        <h2>User Data</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Position</th>
                    <th>Edit</th>
                </tr>
            </thead>

            <tbody>
                <% users.forEach(user=> { %>
                    <tr>
                        <td>
                            <%= user.id %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.phoneno %>
                        </td>
                        <td>
                            <%= user.position %>
                        </td>
                        <td>
                            <a href="admin/user-data/update/<%= user.id %>"><button
                                    class="update-btn">Update</button></a>
                            <form action="/admin/user-data/delete" method="post">
                                <input type="hidden" name="id" value="<%= user.id %>" />
                                <button type="submit" class="delete-btn">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </section>
    <section id="about" class="container">
        this is about make change
        <form action="/about" method="post">
            <h3>Local Committee</h3>
            <label for="lcp">Local Committee President</label>
            <input id="lcp" name="lcp" type="text" placeholder="" value="<%= about_data.lcp %>">
            <label for="lcs">Local Committee Secretary</label>
            <input id="lcs" name="lcs" type="text" placeholder="" value="<%= about_data.lcs %>">

            <h3>Technology & Management Unit</h3>
            <label for="tmp">SFI Technology & Management Unit President</label>
            <input id="tmp" name="tmp" type="text" placeholder="" value="<%= about_data.tmp %>">
            <label for="tms">SFI Technology & Management Unit Secretary</label>
            <input id="tms" name="tms" type="text" placeholder="" value="<%= about_data.tms %>">

            <h3>Science unit</h3>
            <label for="sup">SFI Aliah University Science unit President</label>
            <input id="sup" name="sup" type="text" placeholder="" value="<%= about_data.sup %>">
            <label for="sus">SFI Aliah University Science unit Secretary</label>
            <input id="sus" name="sus" type="text" placeholder="" value="<%= about_data.sus %>">

            <button class="sub-btn" type="submit">Save Changes</button>
        </form>
    </section>
    <script>
        // admin.js

        // Function to check if the screen width corresponds to a desktop view
        function isDesktop() {
            return window.innerWidth >= 800;
        }

        // Function to hide/show the body content based on the device type
        function handleDeviceView() {
            if (isDesktop()) {

                document.body.style.display = 'block'; // Show body content

            } else {
                document.body.style.display = 'none'; // Hide body content
            }
        }

        // Call the function initially to set the view based on the screen width
        handleDeviceView();

        // Listen for window resize events to adjust the view dynamically
        window.addEventListener('resize', handleDeviceView);
    </script>
</body>

</html>