<%- include("partials/header.ejs") %>


<div class="Notificationcontaner">
    <% if (events && events.length > 0) { %>


    <% events.forEach(event => { %>
        <div class="notification">
        <div class="notificationTitle"><a href="/event-Details/<%=event.id%>"><%= event.title %></a></div>
        <div class="notificationContent">
            <img src="<%= event.thumbnail %>" alt="">

            <%= event.content.substring(0, 100) %></div>

        <div class="notificationDate"><%= event.date %></div>
    </div>
    <% }); %>

       

<% } else { %>
    <div style='margin-top: 200px;'>
        <p style="font-size: 2.2rem; color: red;">No Event available</p>

    </div>
<% } %>

</div>

<%- include("partials/footer.ejs") %>
