<%- include("partials/header.ejs") %>
<div class="gallery">
    <div class="gbaner">
        <img src="./images/sfi-aliah-log.jpg" alt="">
    </div>

   <% images.forEach(image => {%>
     <div class="imges" style="background-image: url('/images/gallery/<%= image.filename %>');">
        <img src="<%= image.image %>" alt="">
    <p ><%= image.title %></p>
 

   </div>
  <% }); %>   
 
   </div>
  
  
</div>
<%- include("partials/footer.ejs") %>
