<%- include("partials/header.ejs") %>
<div class="gallery container">
    <div class="gbaner">
        <% images.forEach(image=>{ %>
            <% if (image.banner=='yes') { %>

                <img src="<%= image.image %>" alt="<%= image.title %>">
                
            <%} %>
        <%  }) %>
        
    </div>

   <% images.forEach(image => {%>
    <% if (image.banner=='no') { %>
     <div class="imges">

            <img src="<%= image.image %>" alt="<%= image.title %>">
          <p ><%= image.title %></p>
 

   </div>
   <%} %> 
  <% }); %>   
 
   </div>
  
  
</div>

<%- include("partials/footer.ejs") %>
