<%- include("partials/header.ejs") %>
  <div class="banner">
    <img src="./images/banner01.jpg" alt="" />
  </div>
  <div class="contaner">
    <div class="notification_home">

    </div>
    <% HomeData.forEach(element => {%>

    <div class="quotes">
      <img class="" src="./images/home/<%= element.filename %>" alt="marks images" />
      <p class="kalr_quote">
        <span class="karl_qoration">"</span><%= element.content %>
        <span class="karl_qoration">"</span>
        <span class="Karl">- <%= element.title %></span>
      </p>
    </div>
 <% }); %>

   

  </div>
  <script>
    const notificationCount = <%=Notification.length%>;
    let notificationTitle = []
      <% Notification.forEach((title) => { %>
        notificationTitle.push("<%= title %>")
        <% });%>

    // console.log(notificationTitle)
  </script>

  <%- include("partials/footer.ejs") %>