<%- include("partials/header.ejs") %>
  <div class="banner">
    <img src="./images/banner01.jpg" alt="" />
  </div>
  <div class="contaner">
    <div class="notification_home">

    </div>
    <% homeData.forEach(element => {%>

    <div class="quotes">
      <img class="" src="<%= element.image %>" alt="marks images" />
      <p class="kalr_quote">
        <span class="karl_qoration">"</span><%= element.content %>
        <span class="karl_qoration">"</span>
        <span class="Karl">- <%= element.name %></span>
      </p>
    </div>
 <% }); %>

   

  </div>
 

  <%- include("partials/footer.ejs") %>