<%- include("partials/header.ejs") %>



<div class="container">

    <div class="banner">
        <img src="./images/banner01.jpg" alt="Banner Image" />
    </div>

    <div class="notification_home">
        <!-- Add notifications content here -->
    </div>
    
    <% homeData.forEach(element => { %>
    <div class="quotes">
        <img class="marks-images" src="<%= element.image %>" alt="Marks Images" />
        <p class="karl_quote">
            <span class="karl_qoration">"</span><%= element.content %>
            <span class="karl_qoration">"</span>
            <span class="Karl">- <%= element.name %></span>
        </p>
    </div>
    <% }); %>
</div>

<script>
  const notificationCount = <%=notifications.length%>;
  const notificationIdsCount = <%=notificationIds.length%>;
  let notificationTitle = []
  let ids = []

    <% notifications.forEach((title) => { %>
      notificationTitle.push("<%= title %>")
      <% });%>
    
      <% notificationIds.forEach((id) => { %>
      ids.push("<%= id %>")
      <% });%>

//   console.log(notificationTitle)
</script>



<%- include("partials/footer.ejs") %>
