<%- include("partials/header.ejs") %>

<div class="Notificationcontaner">
    <% if (notifications && notifications.length > 0) { %>


    <% notifications.forEach(notification => { %>
        <div class="notification">
        <div class="notificationTitle"><a href="/notification-Details/<%=notification.id%>"><%= notification.title %></a></div>
        <div class="notificationContent">
            <img src="/images/notification/<%= notification.imgfilename %>" alt="">

            <%= notification.content.substring(0, 100) %></div>

        <div class="notificationDate"><%= notification.date %></div>
    </div>
    <% }); %>

       

<% } else { %>
    <div style='margin-top: 200px;'>
        <p style="font-size: 2.2rem; color: red;">No notifications available</p>

    </div>
<% } %>

</div>

<%- include("partials/footer.ejs") %>
