<!-- update-form.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>


</head>
<body>
    <h1>Update User</h1>
    <form action="/admin/user-data/update" method="post">
        <input type="hidden" name="id" value="<%= user.id %>">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="<%= user.name %>"><br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="<%= user.email %>"><br>
        <label for="phone">Phone:</label>
        <input type="text" name="phone" id="phone" value="<%= user.phoneno %>"><br>
        <label for="position">Position:</label>
        <select name="position" id="position">
            <option value="member" <%= user.position === 'member' ? 'selected' : '' %>>Member</option>
            <option value="Admin" <%= user.position === 'Admin' ? 'selected' : '' %>>Admin</option>
            <option value="donator" <%= user.position === 'donator' ? 'selected' : '' %>>Donator</option>
            <option value="board member" <%= user.position === 'board member' ? 'selected' : '' %>>Board Member</option>
            <option value="other" <%= user.position === 'other' ? 'selected' : '' %>>Other</option>
        </select><br>
        <button class="sub-btn" type="submit">Upload</button>
    </form>
</body>
</html>
